{% extends "hf.html" %}
{%block title%} <title>Booking</title> {%endblock%}
{% block content%}
    
        <!-- BANNER-SECTION -->
     <div class="home-header-section sub-header-section">
        
            <!-- BANNER-SECTION -->
            <div class="sub-banner-section overflow-hidden">
                <div class="banner-container-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 mb-md-0 mb-4 text-md-left text-center">
                                <div class="home-banner-text aos-init aos-animate" data-aos="fade-up">
                                    <h1 class="text-white">Book your bike now</h1>
                                    <div class="banner-btn discover-btn-banner">
                                        <div class="btn-inner">Home  <figure class="text-bars"><img src="../static/service_assets/images/text-bars.png" alt=""></figure><span class="about-margin">Booking</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div> 
   
    <!-- WhyCHooseUs_SECTION -->
    <section class="whychoose-section overflow-hidden position-relative">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 mb-md-0 mb-4 text-center">
                    <div class="blogs-section"  data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <div class="images-blog">
                                <figure class="mb-0"><img class="img-fluid" src="../static/images/prof1.png" alt="">
                                </figure>
                            </div>
                            <h5 class="blogs-h5">Professional Standard</h5>
                            <p class="blogs-p">We are providing high quality service with complete professional standards.</p>
                            
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-md-0 mb-4 text-center">
                    <div class="blogs-section"  data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <div class="images-blog">
                                <figure class="mb-0"><img class="img-fluid" src="../static/images/prof.standerd.png" alt="">
                                </figure>
                            </div>
                            <h5 class="blogs-h5">Best Materials</h5>
                            <p class="blogs-p">The original and company maded materials,with the help of experienced workers</p>
                           
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-md-0 mb-0 text-center">
                    <div class="blogs-section"  data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <div class="images-blog">
                                <figure class="mb-0"><img class="img-fluid" src="../static/images/warranty.jpg" alt="">
                                </figure>
                            </div>
                            <h5 class="blogs-h5">Long term warranty</h5>
                            <p class="blogs-p">We are give our praiority to our customers.Giving maximum warranty and good service.</p>
                            
                    </div>
                </div>
            </div>
        </div>
        <figure class="position-absolute whychoseus-left-img left_icon"><img src="" alt=""></figure>
    </section>
    <!-- ABOUT-US_SECTION -->
    
    <!-- Our-services-SECTION -->
    
    <!-- Our-Mission-Section  -->
    <div class="mission-section overflow-hidden position-relative">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 d-xl-block d-none">
                    <figure class="our-mission-figure-box"  data-aos="fade-left">
                        <img src="../static/images/booking.png" alt="">
                    </figure>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="about-us-content" data-aos="fade-up">
                        <h6 style="color: rgb(236, 17, 17);" class="">Our Mission</h6>
                        <h2  data-aos="fade-zoom-in">Your Safety is our first  priority</h2>      
                        <p class="our-mission-p1">We are providing full time customer support ,and make our customers activities more easy and relaible.</p> 
                        <p class="our-mission-p2">We are helps to meet all customer requrements.</p>
                        <ul class="list-unstyled list-margin-bottom">
                            <li class="d-inline-block mb-lg-0 mb-3"><i class="fa-solid fa-check ml-0"></i><span class="d-inline-block email-span text-decoration-none list-span">24/7 Support</span></li>
                            <li class="d-inline-block user-li"><i class="fa-solid fa-check margin-left-checkk"></i><span class="d-inline-block user-span text-decoration-none list-span">Expert Team</span></li>
                        </ul>
                        <ul class="list-unstyled left-section-margin-bottom">
                            <li class="d-inline-block mb-lg-0 mb-3 mr-lg-1 smart-tools-li"><i class="fa-solid fa-check ml-0 last-li-form-section"></i><span class="d-inline-block email-span text-decoration-none list-span">Smart Tools</span></li>
                            <li class="d-inline-block user-li"><i class="fa-solid fa-check margin-left-checkk"></i><span class="d-inline-block user-span text-decoration-none list-span">Fast Work</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
                    <div class="mission-red-box" data-aos="fade-down">
                        <h5>GET a Quote</h5>
                        <form action="/addbooking" method="post" enctype="multipart/form-data">
                            <div class="form-group contact-form-margin">
                                <input  type="text" class="inp" id="" placeholder="Name" required="" name="name1">
                            </div>
                            <div class="form-group contact-form-margin">
                                <input type="text" class="inp" id="" placeholder="Phone" required="" name="phone">
                            </div>
                            <div class="form-group contact-form-margin-car">
                                <input type="text" class="inp" id="" placeholder="Email" required="" name="email">
                            </div>
                            <div class="form-group contact-form-margin-car">
                                <input type="text" class="inp" id="" placeholder="Address" required="" name="addre">
                            </div>
                            <div class="form-group contact-form-margin-car">
                                <label  for="">Bike Model</label><br>
                                <select style="background-color: rgb(230, 208, 208); border-radius: 30px;width: 100%; height: 55px;"    name="model" id="">
                                    {% for i in val %}
                                    <option value="{{i['model_name']}}"> {{i['model_name']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="">
                                <input style="border-radius: 20px; cursor: pointer;background-color:rgb(35, 35, 182);color: aliceblue; border: none; width: 80%; height: 40px;"  value="Submit now" type="submit">
                            </div>
                        </form>
                       <br>
                            
                            <div  style="border-radius:30px ;" >
                                <a style="font-size: small; color: aliceblue; " href="">Click here to upload your documents</a>
                                <a style="color: aliceblue;" href="/viewUpload"><button style="border-radius: 20px; cursor: pointer;background-color:darkblue;color: aliceblue; border: none;">Upload</button></a>
                            </div><br>
                            <div  style="border-radius:30px ;" >
                                <a style="color: aliceblue;" href="/payment"><button style="border-radius: 20px; cursor: pointer;background-color:rgb(12, 139, 33);color: aliceblue;border: none; height: 35px;">Make payment now!</button></a>
                            </div>
                    </div>
                </div>
                <figure class="our-mission-right left_icon">
                    <img src="" alt="">
                </figure>
            </div>
        </div>

    </div>
    <!-- OFFER-SECTION -->
    <!-- TEAMS-SECTION -->
    <style>
        .inp{
        background-color: rgb(230, 208, 208); border-radius: 30px;width: 100%; height: 55px;
        }
    </style>
    

  


{%endblock%}   