
  <head>
  	<title>Contact Form 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/cont_css/style.css">

	<link rel="stylesheet" href="../static/user_assets/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../static/user_assets/css/style.css" type="text/css">
	<link rel="stylesheet" href="../static/user_assets/css/custom.css" type="text/css">
	<link rel="stylesheet" href="../static/user_assets/css/owl.carousel.css" type="text/css">
	<link rel="stylesheet" href="../static/user_assets/css/owl.transitions.css" type="text/css">

	</head>
	<body style="background-color: #117999;">
		<!-- HEADER-SECTION -->
		<header>

			<div class="default-header">
		  
			  <div class="container">
		  
				<div class="row">
		  
				  <div class="col-sm-3 col-md-2">
		  
					<div class="logo"> <a href="index.html"><img src="../static/images/logo_bike.jpg" alt="image"/></a> </div>
				  </div>
				</div>
			  </div>
			</div>
		   <!-- Navigation -->
		  
			<nav id="navigation_bar" class="navbar navbar-expand-lg">
		  
			  <div class="container">
		  
			  <div class="row header-row desktop">
		  
				<div class="navbar-header">
		  
				  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars"></i> </button>
		  
				</div>
		  
				
		  
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  
				  <ul class="nav navbar-nav">
		  
					<li class=""><a href="/uhome" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
		  
						
		  
					</li>
		  
					<li><a href="/booking">Booking</a></li>
		  
					<li class=""><a href="/service" >Vehicle Service</a>
					</li>
		  
					<li class=""><a href="#" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">Dealers</a>
					</li>
		  
					<li class="dropdown"><a href="#" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
		  
					  <ul class="dropdown-menu">
		  
						<li><a href="/cont">Contact Us</a></li>
		  
						<li><a href="coming-soon.html">Coming Soon</a></li>
		  
					  </ul>
		  
					</li>
		  
					<li class=""><a href="#" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false">News</a>
					</li>
		  
				  </ul>
		  
				</div>
		  
				<div class="header_wrap">
		  
				  <div class="user_login">
		  
					<ul>
		  
					  <li class=""> <a href="/" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i> Sign Out <i class="" aria-hidden="true"></i></a> 
					  </li>
		  
					</ul>
		  
				  </div>
		  
				 
		  
				</div>
			</div>
			  </div>
		  
			</nav>
		  
			<!-- Navigation end --> 
		
		  </header>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Contact Form #07</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-6 d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4 py-5">
									<h3 class="mb-4">Write us</h3>


									<form method="post" action="/contact" class="contactForm">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" style="background-color: rgb(53, 53, 56);" class="form-control" name="name1" id="name" placeholder="Name">
												</div>
											</div>
											<div class="col-md-12"> 
												<div class="form-group">
													<input type="email" style="background-color: rgb(53, 53, 56);" class="form-control" name="email" id="email" placeholder="Email">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input style="background-color: rgb(53, 53, 56);" type="text" class="form-control" name="sub" id="sub" placeholder="Subject">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<textarea name="mess" style="background-color: rgb(53, 53, 56);"  class="form-control" id="mess" cols="30" rows="6" placeholder="Message"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" style="background-color: rgb(53, 53, 56);"  value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-6 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-md-5 p-4 py-5 img">
									<h3>Contact information</h3>
									<p class="mb-4">We're open for any suggestion or just to have a chat</p>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-map-marker"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-phone"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-paper-plane"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-globe"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Website</span> <a href="#">yoursite.com</a></p>
					          </div>
				          </div>
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="../static/cont_css/js/jquery.min.js"></script>
  <script src="../static/cont_css/js/popper.js"></script>
  <script src="../static/cont_css/js/bootstrap.min.js"></script>
  <script src="../static/cont_css/js/jquery.validate.min.js"></script>
  <script src="../static/cont_css/js/main.js"></script>

	</body>
</html>

