{% extends "hf.html" %}
{%block content%}
<body>
    <div  class="blog">
        <div class="container">
            <div class="row"></div>
            <form action="/addBlog" enctype="multipart/form-data"  method="post">
                
                        <h6 style="color: brown;" >Profile image:</h6>
                        <input name="prof" type="file">
                        <br><br>
                        <input placeholder="name:" type="text" name="auth">
                        <input type="text" placeholder="Titile name" name="tit">
                        <input type="date" name="date1" >
                        <input placeholder="about:" type="text" name="field">
                       <br> 
                    <br>
                       <h6 style="color: brown;"  >Blog image:</h6><input  type="file" name="img">
                    <br><br>
                    <textarea placeholder="blog text:" name="desc" id="" cols="30" rows="10"></textarea>
                    <br><br>
                    <input placeholder="refference" name="ref" type="text" id=""><br><br>

                <input type="submit" style="background-color: blue;">
            </form>

        </div>
    </div>
    <style>
      .blog{
  
          background-color: rgb(235, 248, 244);
      }
    
  </style>

   {%endblock%}