

<html lang="en">
<head>
<title>Server Login Form a Flat Responsive Widget Template :: w3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Server Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
<link rel="stylesheet" href="../static/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<link href="//fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">

<!-- //css files -->
</head>
<body>
<!-- main -->
<div class="w3ls-header">
	<h1> login </h1>
	<div class="header-main">
			<div class="header-bottom">
				<div class="header-right w3agile">
					<div class="header-left-bottom agileinfo">
						<form action="login" method="post">
							<div class="icon1">
								<input type="text" name="textfield" placeholder="username" required=""/>
							</div>

							<div class="icon1">
								<input type="password" name="textfield2" placeholder="Password" required=""/>
							</div>

							<div class="bottom">
								<input type="submit" value="Log in" />
							</div>

							</form>
							<div class="bottom1">
								<a href="/ureg"><input type="submit" value="sign up" /></a>
							</div>

					</div>
				</div>
			</div>
	</div>
</div>
<!--header end here-->
<!-- copyright start here -->

<!--copyright end here-->
</body>
</html>