
<html lang="zxx">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Services | Autorix</title>


<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="../static/service_assets/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/service_assets/css/style.css">

<link rel="stylesheet" href="../static/user_assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="../static/user_assets/css/style.css" type="text/css">
<link rel="stylesheet" href="../static/user_assets/css/custom.css" type="text/css">
<link rel="stylesheet" href="../static/user_assets/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="../static/user_assets/css/owl.transitions.css" type="text/css">

</head>
<header>

    <div class="default-header">
  
      <div class="container">
  
        <div class="row">
  
          <div class="col-sm-3 col-md-2">
  
            <div class="logo"> <a href="index.html"><img src="../static/images/logo_bike.jpg" alt="image"/></a> </div>
          </div>
        </div>
      </div>
    </div>
   <!-- Navigation -->
  
    <nav id="navigation_bar" class="navbar navbar-expand-lg">
  
      <div class="container">
  
      <div class="row header-row desktop">
  
        <div class="navbar-header">
  
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars"></i> </button>
  
        </div>
  
        
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
          <ul class="nav navbar-nav">
  
            <li class=""><a href="/uhome" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
  
                
  
            </li>
  
            <li><a href="/booking">Booking</a></li>
  
            <li class=""><a href="/service" >Vehicle Service</a>
            </li>
  
            <li class=""><a href="#" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">Dealers</a>
            </li>
  
            <li class="dropdown"><a href="#" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
  
              <ul class="dropdown-menu">
  
                <li><a href="/cont">Contact Us</a></li>
  
                <li><a href="coming-soon.html">Coming Soon</a></li>
  
              </ul>
  
            </li>
  
            <li class=""><a href="#" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false">News</a>
            </li>
  
          </ul>
  
        </div>
  
        <div class="header_wrap">
  
          <div class="user_login">
  
            <ul>
  
              <li class=""> <a href="/" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i> Sign Out <i class="" aria-hidden="true"></i></a>
  
               
              </li>
  
            </ul>
  
          </div>
  
          <div class="header_search">
  
            <div id="search_toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
  
            <form action="#" method="get" id="header-search-form">
  
              <input type="text" placeholder="Search..." class="form-control">
  
              <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
  
            </form>
  
          </div>
  
        </div>
  
    </div>
      </div>
  
    </nav>
  
    <!-- Navigation end --> 

  </header>
<body>
    <!-- HEADER-SECTION -->
    <div class="home-header-section sub-header-section">
        
        <!-- BANNER-SECTION -->
        <div class="sub-banner-section overflow-hidden">
            <div class="banner-container-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-md-0 mb-4 text-md-left text-center">
                            <div class="home-banner-text aos-init aos-animate" data-aos="fade-up">
                                <h1 class="text-white">Our Services</h1>
                                <div class="banner-btn discover-btn-banner">
                                    <div class="btn-inner">Home  <figure class="text-bars"><img src="assets/images/text-bars.png" alt=""></figure><span class="about-margin">Services</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- WhyCHooseUs_SECTION -->
    <section class="whychoose-section overflow-hidden position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 class="autorix-text">Our Services</h6>
                    <h2 class="text-center"  data-aos="fade-zoom-in">What We Provide</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 mb-md-0 mb-4 text-center">
                    <div class="blogs-section service-page" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <div class="images-blog">
                                <figure class="mb-0"><img class="img-fluid" src="../static/service_assets/images/service-offer-img1.png" alt="">
                                </figure>
                                <figure class="circle-icon1">
                                    <img src="#" alt="">
                                </figure>
                            </div>
                            <h5 class="blogs-h5 service-page-h5">BRAKE REPAIR</h5>
                            <p class="blogs-p">Quis autem velaum iure reare aenderit rui in ea roluptate velit esse ruam moles nulla</p>
                            <div class="read-more">
                                <a href="services.html" class="text-decoration-none"> read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-md-0 mb-4 text-center">
                    <div class="blogs-section service-page" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <div class="images-blog">
                                <figure class="mb-0"><img class="img-fluid" src="../static/service_assets/images/service-offer-img2.png" alt="">
                                </figure>
                                <figure class="circle-icon1">
                                    <img src="../static/service_assets/images/services-circle-icon2.png" alt="">
                                </figure>
                            </div>
                            <h5 class="blogs-h5 service-page-h5">TIRE REPAIR</h5>
                            <p class="blogs-p">Ruis autem velaum iure reare aenderit rui in ea roluptate velit esse ruam moles nulla</p>
                            <div class="read-more">
                                <a href="services.html" class="text-decoration-none"> read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-md-0 mb-4 text-center">
                    <div class="blogs-section service-page" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <div class="images-blog">
                                <figure class="mb-0"><img class="img-fluid" src="../static/service_assets/images/service-offer-img3.png" alt="">
                                </figure>
                                <figure class="circle-icon1">
                                    <img src="../static/service_assets/images/services-circle-icon3.png" alt="">
                                </figure>
                            </div>
                            <h5 class="blogs-h5 service-page-h5">ENGINE REPAIR</h5>
                            <p class="blogs-p">Suis autem velaum iure reare aenderit rui in ea roluptate velit esse ruam moles nulla</p>
                            <div class="read-more">
                                <a href="services.html" class="text-decoration-none"> read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                    </div>
                </div>
            </div>

            <!-- row2 -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 mb-md-0 mb-4 text-center">
                    <div class="blogs-section service-page mb-0" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <div class="images-blog">
                                <figure class="mb-0"><img class="img-fluid" src="../static/service_assets/images/service-offer-img4.png" alt="">
                                </figure>
                                <figure class="circle-icon1">
                                    <img src="../static/service_assets/images/services-circle-icon4.png" alt="">
                                </figure>
                            </div>
                            <h5 class="blogs-h5 service-page-h5">WASING</h5>
                            <p class="blogs-p">Quis autem velaum iure reare aenderit rui in ea roluptate velit esse ruam moles nulla</p>
                            <div class="read-more">
                                <a href="services.html" class="text-decoration-none"> read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-md-0 mb-4 text-center">
                    <div class="blogs-section service-page mb-0" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <div class="images-blog">
                                <figure class="mb-0"><img class="img-fluid" src="../static/service_assets/images/service-offer-img5.png" alt="">
                                </figure>
                                <figure class="circle-icon1">
                                    <img src="../static/service_assets/images/services-circle-icon5.png" alt="">
                                </figure>
                            </div>
                            <h5 class="blogs-h5 service-page-h5">PHYSICAL DAMEGES</h5>
                            <p class="blogs-p">Ruis autem velaum iure reare aenderit rui in ea roluptate velit esse ruam moles nulla</p>
                            <div class="read-more">
                                <a href="services.html" class="text-decoration-none"> read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-md-0 mb-4 text-center">
                    <div class="blogs-section service-page mb-0" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <div class="images-blog">
                                <figure class="mb-0"><img class="img-fluid" src="../static/service_assets/images/service-offer-img6.png" alt="">
                                </figure>
                                <figure class="circle-icon1">
                                    <img src="../static/service_assets/images/services-circle-icon6.png" alt="">
                                </figure>
                            </div>
                            <h5 class="blogs-h5 service-page-h5">OTHER REPAIR</h5>
                            <p class="blogs-p">Suis autem velaum iure reare aenderit rui in ea roluptate velit esse ruam moles nulla</p>
                            <div class="read-more">
                                <a href="services.html" class="text-decoration-none"> read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- OFFER-SECTION -->
    <section class="offer-section overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="offer-content" data-aos="fade-up-left">
                        <h6 class="offer-text"  data-aos="fade-up" data-aos-anchor-placement="top-bottom">our offer</h6>
                        <h2 class="discount-text">Save Money with Special Discount</h2>
                        <h2 class="offer-upto">Upto <span class="percent-off">50% off</span></h2>

                        <div class="banner-btn discover-btn-banner text-center">
                            <a href="aboutus.html" class="text-decoration-none">Get a Quote <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Our-Mission-Section -->
     <div class="mission-section overflow-hidden position-relative">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 d-xl-block d-none">
                    <figure class="our-mission-figure-box">
                        <img src="../static/service_assets/images/our-mission-img1.png" alt="">
                    </figure>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="about-us-content" data-aos="fade-up">
                        <h6 class="autorix-text">our mission</h6>
                        <h2  data-aos="fade-zoom-in">Your Safety is our first  priority</h2>      
                        <p class="our-mission-p1">Duis autem vel eum iure reprehenderit velit esse quam nihil molestiae conseuaeu dolorem eum fugiat ruo.</p> 
                        <p class="our-mission-p2">Reprehenderit qui in ea volu velit essestia consequatur, vel illum eui.</p>
                        <ul class="list-unstyled list-margin-bottom">
                            <li class="d-inline-block mb-lg-0 mb-3"><i class="fa-solid fa-check ml-0"></i><span class="d-inline-block email-span text-decoration-none list-span">Trust</span></li>
                            <li style="padding-left: 70px;" class="d-inline-block user-li"><i class="fa-solid fa-check margin-left-checkk"></i><span class="d-inline-block user-span text-decoration-none list-span">Expert Team</span></li>
                        </ul>
                        <ul class="list-unstyled left-section-margin-bottom">
                            <li class="d-inline-block mb-lg-0 mb-3 mr-lg-1 smart-tools-li"><i class="fa-solid fa-check ml-0 last-li-form-section"></i><span class="d-inline-block email-span text-decoration-none list-span">Smart Tools</span></li>
                            <li class="d-inline-block user-li"><i class="fa-solid fa-check margin-left-checkk"></i><span class="d-inline-block user-span text-decoration-none list-span">Fast Work</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
                    <div class="mission-red-box">
                        <h5>GET a Quote</h5>
                        <form action="/addService" method="post">
                            <div class="form-group contact-form-margin-car">
                                <label  for="">Model Name</label><br>
                                <select style="background-color: rgb(83, 61, 61); border-radius: 30px;width: 100%; height: 55px;" name="model" id="model">
                                    <option value="MT 15">MT 15</option>
                                    <option value="v3">v3</option>
                                    <option value="v4">v4</option>
                                </select>
                                
                            </div>
                            <div class="form-group contact-form-margin-car">
                                <input style="background-color: rgb(83, 61, 61);" type="text" class="form-control input-text" id="validationCustom03" placeholder="Registraion NO" required="" name="regno">
                            </div>
                            <div class="form-group contact-form-margin-car">
                                <label  for="">Service Type</label><br>
                                <select style="background-color: rgb(83, 61, 61); border-radius: 30px;width: 100%; height: 55px;"    name="type" id="">
                                    <option value="Break repair">Break repair</option>
                                    <option value="Tire repair">Tire repire</option>
                                    <option value="Engin repair">Engne repair</option>
                                    <option value="Washing">Washing</option>
                                    <option value="Physicsl dameges">Physical dameges</option>
                                    <option value="Other repair">Other repair</option>
                                </select>
                                
                            </div>
                            <div class="form-group contact-form-margin-car">
                                <input style="background-color: rgb(83, 61, 61);" type="date" class="form-control input-text" id="validationCustom03" placeholder="Date" required="" name="date">
                            </div>
                            <div class="form-group contact-form-margin-car">
                                <label  for="">Time</label><br>
                                <select style="background-color: rgb(83, 61, 61); border-radius: 30px;width: 100%; height: 55px;"    name="time" id="">
                                    <option value="10:00-AM">10:00-AM</option>
                                    <option value="11:30-AM">11:30-AM</option>
                                    <option value="1:30-PM">1:30-PM</option>
                                    <option value="3:00-PM">3:00-PM</option>
                                </select>
                                
                            </div>
                            <div class="banner-btn discover-btn-banner text-center">
                                <i class="fa-solid fa-arrow-right"><input  value="Submit now" type="submit"></i>
                            </div>
                        </form>
                            
                    </div>
                </div>
                <figure class="our-mission-right left_icon">
                    <img src="" alt="">
                </figure>
            </div>
        </div>
    </div>
   <!-- Form-section -->
   
    
    <!-- Footer-Section -->
    <div class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6 d-xl-block d-none">
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
                    <a class="footer-a pt-0" href="index.html"><figure class="navbar-brand-footer" data-aos="flip-left"><img src="assets/images/autorix-logo.png" alt="" class="img-fluid"></figure></a>
                    <p class="foot-text" data-aos="flip-left">Rerum necessitatibus saepe eveniet 
                        aut et voluptates repudiandae sint 
                        et molestiae non recusandae.</p>
                        <div class="social-icons aos-init aos-animate position-relative">
                            <ul class="list-unstyled" data-aos="fade-down">
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-twitter social-networks"></i></a></li>
                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-linkedin-in social-networks"></i></a></li>
                            </ul>
                        </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 d-md-block d-none">
                    <ul class="list-unstyled support-footer" data-aos="flip-left">
                        <li class="list-item footer-margin-left">
                            <h5 class="footer-link footer-services-heading">
                                Opening Hours
                            </h5>
                        </li>
                        <li>
                          <p class="footer-days">Monday – Saturday</p>
                          <p class="footer-time">12.00 – 14.45</p>
                        </li>
                        <li>
                          <p class="footer-days">Sunday – Thursday</p>
                          <p class="footer-time">17.30 – 00.00</p>
                        </li>
                        <li>
                          <p class="footer-days">Friday – Saturday</p>
                          <p class="footer-time">17.30 – 00.00</p>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 d-sm-block d-none">
                    <div class="footer-list footer-link">
                        <div class="icon-list-box1" data-aos="flip-left">
                            <ul class="list-unstyled contact-us-ul">
                                <li class="list-item pl-0">
                                    <h5 class="footer-link footer-get-heading">
                                        Contact Info
                                    </h5>
                                </li>
                                <li class="list-item">
                                <a href="tel:+4733378901" class="text-decoration-none footer-link-auto">+61 3 8376 6284</a>
                                <i class="fa fa-phone fa-icon footer-location3"></i>
                                </li>
                                <li class="list-item">
                                <a href="mailto:webmaster@example.com" class="text-decoration-none footer-link-auto">Info@autorix.om</a>
                                <i class="fa fa-envelope fa-icon footer-location2"></i>
                                </li>
                                <li class="list-item">
                                <a  class="text-decoration-none footer-link-auto">21 King Street Melbourne, 3000, Australia</a>
                                <i class="fa-solid fa-location-dot footer-location"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-right">
            <figure class="left_icon">
               <img src="" alt="">
            </figure>
        </div>
    </div>
        <div class="footer-outer-margin">
            <figure class="left_icon">
               <img  src="" alt="">
            </figure>
        </div>
    <div class="footer-bar text-center">
        <figure class="f-bar-left">
            <img src="../static/service_assets/images/footer-bar-left.png" alt="">
        </figure>
        <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="footer-bar-content w-100 overflow-hidden">
                    <p class="text-size-16 mb-0">
                        Copyright 2022, autorix.com All Rights Reserved.
                    </p>
                </div>
               </div>
            </div>
        </div>
    </div>
    <script src="../../code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="../static/service_assets/js/animations.html"></script>
    <script src="../static/service_assets/js/bootstrap.min.js"></script>
    <script src="../static/service_assets/js/jquery-3.6.0.min.js"></script>
    <script src="../static/service_assets/js/popper.min.js"></script>
    <script src="../static/service_assets/js/custom-script.js"></script>
    <script src="../static/service_assets/js/owl.carousel.js"></script>
    <script src="../static/service_../../unpkg.com/aos%402.3.1/dist/aos.js"></script>
    <script src="../static/service_assets/js/text-animations.js"></script>
    <script src="../static/service_assets/js/carousel.js"></script>
    <script src="../static/service_assets/js/showhide.js"></script>
  

</body>


<!-- Mirrored from html.designingmedia.com/autorix/services.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Dec 2022 09:59:39 GMT -->
</html>