<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-group">
        <label for="">date</label>
        <select class="form-control" name="dates" id="dates">
            {% for row in val %}
            <option value="{{row.slots}}">{{row.sl_date}}</option>
            {% endfor %}
        </select>
    </div>
    <p id="slot"></p>



    <script>

        date_select=document.getElementById("dates");

        date_select.onchange = function(){

            dates = date_select.value;
            document.getElementById("slot").innerHTML=dates;
        }


    </script>

</body>
</html>