{% extends "layoutAD.html" %}
{%block body%}
  <main id="main" class="main">



    <section class="section dashboard">
      
         
         <div style="text-align: center;" class="row">


          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h3>Update Bikes Details</h3>
              <form action="/updateBike" enctype="multipart/form-data" method="post">
                <table  align="center" style=" border-color: black;border-collapse: separate;" border="4">
                    <tr>
                        <td>Bike ID</td>
                        <td><input type="text" name="vid" value="{{val['vid']}}" /></td>
                      </tr>
                      <tr>
                        <td>Mileage</td>
                        <td><input type="text" name="mile" value="{{val['mile']}}"/></td>
                      </tr>
                      <tr>
                        <td>Model year</td>
                        <td><input type="text" name="model" value="{{val['model']}}"/></td>
                      </tr>
                      <tr>
                        <td>Location</td>
                        <td><input type="text" name="loc" value="{{val['loc']}}"/></td>
                      </tr>
                      <tr>
                        <td>Model Name</td>
                        <td><input type="text" name="name" value="{{val['name']}}"/></td>
                      </tr>
                      <tr>
                        <td>Price</td>
                        <td><input type="text" name="price" value="{{val['price']}}" /></td>
                      </tr>
                      <tr>
                        <td>Discription</td>
                        <td><textarea name="desc" >{{val['desc']}}</textarea></td>
                      </tr>
                      <tr>
                        <td>Image</td>
                        <td><input type="file" name="img"/></td>
                      </tr>
                     
                      <tr>
                        <td colspan="2"><div align="center">
                          <input type="submit" name="submit" value="Update" />
                        </div></td>
                        </tr>
                </table>
              </form>
          </div>
      


      
             
           </div>
    </section>

  </main><!-- End #main -->
{%endblock%}