{% extends "h.html"%}
{%block title%} <title>Upload Details</title> {%endblock%}
{%block content%}


<body>
    <div class="container">
        <div class="row">
     
            <form action="/addUpload" method="post" enctype="multipart/form-data">
                <input type="text" name="name2" placeholder="Name" >
                <br><br>
                <input type="text" name="ph" placeholder="Phone NO">
                <br><br>
                <input type="text" name="email" placeholder="Email">
                <br><br>
                <input type="text" name="address" placeholder="address">
                <br>
                photo                
                <br>
                <input type="file"  name="phot" placeholder="">
                <br>
                aadar
                <br>
                <input name="aadar" type="file" >
                <br><br>
                <input type="submit" name="" value="Upload" id="">
            </form>
        
        </div>
    </div>

{%endblock%}