{% extends "layoutAD.html" %}
{%block body%}
  <main id="main" class="main">



    <section class="section dashboard">
      <div style="text-align: center;" class="row">


        <div>
            <h3>Booking Details</h3>
            <form>

              <table  align="center" style="width: 850px; border-color: black;border-collapse: separate;" border="4">
                <tr style="border-style: groove; background-color: #1c0d36; color: aliceblue;text-align:center;">
                  <th>Booking_ID</th>
                  <th>Upload_ID</th>
                  <th>Login ID</th>
                  <th>Full Name</th>
                  <th>Phone</th>
                  <th  width="150">Email</th>
                  <th>Address</th>
                  <th>Model</th>
                  <th>Owner_Photo</th>
                  <th>Owner_aadar</th>
                  
                  <th width="100" bgcolor="red">Delete User</th>
                  <th width="100" bgcolor="blue">Approve User</th>
                </tr>
                {% for i in val %}
                <tr style="text-align:center; background-color: rgb(194, 247, 242); text-align:center;">
                  <td>{{i['bbil']}}</td>
                  <td>{{i['upild']}}</td>
                  <td>{{i['lid']}}</td>
                  <td>{{i['name']}}</td>
                  <td>{{i['phone']}}</td>
                  <td>{{i['email']}}</td>
                  <td>{{i['address']}}</td>
                  <td>{{i['model']}}</td>
                  <td><img src="../static/upload/photo/{{i['photo']}}" height="100px " width="150px" alt=""></td>
                  <td><img src="../static/upload/aadar/{{i['aadar']}}" height="100px " width="150px" alt=""></td>

                  <td bgcolor="red"><a type="submit" style="color: rgb(245, 238, 240);" href="/deleBooking?ID={{i['bbil']}}">DELETE</a></td>
                  <td bgcolor="green"><a type="submit" style="color: rgb(245, 238, 240);" href="/approveService?SID={{i['ssid']}}">CheckOut</a></td>
                </tr>
                
                {% endfor %}
              </table>
            </form>
        </div>


    </div>
    </section>

  </main><!-- End #main -->
{%endblock%}