{% extends "layoutAD.html" %}

{%block body%}
  <main id="main" class="main">



    <section class="section dashboard">
      <div style="text-align: center;" class="row">


        <div>
            <h3>Logged User Details</h3>
            <form>
              <table  align="center" style="width: 650px; border-color: black;border-collapse: separate;" border="4">
                <tr style="border-style: groove; background-color: #1c0d36; color: aliceblue;text-align:center;">
                  <th>REG ID</th>
                  <th>LOGIN ID</th>
                  <th>FULL NAME</th>
                  <th>PHONE</th>
                  <th  width="150">EMAIL</th>
                  <th width="100" bgcolor="red">Delete User</th>
                </tr>
                {% for i in val %}
                <tr style="text-align:center; background-color: rgb(194, 247, 242); text-align:center;">
                  <td>{{i['uid']}}</td>
                  <td>{{i['lid']}}</td>
                  <td>{{i['name']}}</td>
                  <td>{{i['phone']}}</td>
                  <td>{{i['email']}}</td>
                  <td bgcolor="red"><a type="submit" style="color: rgb(245, 238, 240);" href="/deleUser?ID={{i['lid']}}">DELETE</a></td>
                </tr>
                {% endfor %}
              </table>
            </form>
        </div>


    </div>
    </section>

  </main><!-- End #main -->
{%endblock%}