{% extends "layoutAD.html" %}

{%block body%}
  <main id="main" class="main">



    <section class="section dashboard">
      <div style="text-align: center;" class="row">


        <div>
            <h3>Logged User Details</h3>
           
              <table  align="center" style="width: 650px; border-color: black;border-collapse: separate;" border="4">
                <tr style="border-style: groove; background-color: #1c0d36; color: aliceblue;text-align:center;">
                  <th>CONT. ID</th>
                  <th>LOGIN ID</th>
                  <th>FULL NAME</th>
                  <th width="150">EMAIL</th>
                  <td>SUBJECT</td>
                  <td>MESSAGE</td>
                  <th width="100" bgcolor="red">Delete User</th>
                </tr>
                {% for i in val %}
                <tr style="text-align:center; background-color: rgb(194, 247, 242); text-align:center;">
                  <td>{{i['cid']}}</td>
                  <td>{{i['lid']}}</td>
                  <td>{{i['name']}}</td>
                  <td>{{i['email']}}</td>
                  <td>{{i['sub']}}</td>
                  <td>{{i['mess']}}</td>
                  <td bgcolor="red"><a type="submit" style="color: rgb(245, 238, 240);" href="/deleMessage?ID={{i['lid']}}">DELETE</a></td>
                </tr>
                <tr>
                <form action="/replayMess?ID={{i['cid']}}" method="post">
                    <td colspan="6"><textarea name="replay" placeholder="write massage here" id="replay" cols="70" rows="3"></textarea></td>
                    <td bgcolor=""><input type="submit" value="Submit replay" name="" id=""></td>
                </form>
                </tr>
                {% endfor %}
              </table>
            
        </div>


    </div>
    </section>

  </main><!-- End #main -->
{%endblock%}